@import "tailwindcss";

@theme {
  --color-dark: #202020;
  --color-profit: #00bf13;
  --color-chart-area: #3fbebe;
  --color-chart-line: #287979;
  --color-button: #153243;
  --color-card: #f3f3f3;
  --color-highlight: #74cddc;
}

body {
  font-family: "Open Sans", sans-serif;
}

.recharts-wrapper *:focus {
  outline: none !important;
}

/* Remove the arrows on number inputs */
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-input[type="number"] {
  -moz-appearance: textfield;
}
